body{
    font-family: 'Roboto', sans-serif;
    background: #EEF9BF;
    
}
*{
    box-sizing: border-box;
}
.topo{
    margin-top:40px;
}
h1{
    font-size: 56px;
    color: #75B79E;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 65.63px;
}
.tabuleiro{
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    max-width: 970px;
    min-height: 330px;
    
}
.cartaMemoria{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
    cursor:pointer;
    margin-right:20px ;
    
    
    
}
.front,
.back{
    width: 100px;
    height: 100px; 
    position:absolute;
    backface-visibility: hidden;
}
.cartaMemoria.flip{
    transform: rotateY(180deg);

}
.front{
    transform: rotateY(180deg);
  }

  @media (max-width:614px){
    .tabuleiro{
        flex-direction: column;
    }
    .cartaMemoria{
        margin-bottom: 35px;
    }
  }