body{
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    width: 100%;
}
*{
    box-sizing: border-box;
}
.cartaMemoria{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
}
.front,
.back{
    width: 100px;
    height: 100px; 
    position:absolute;
    backface-visibility: hidden;
}
.cartaMemoria.flip{
    transform: rotateY(180deg);

}
.front{
    transform: rotateY(180deg);
  }